:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --dark-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --btn-background-color: #188ce8;
  --primary-border-color: #ececec;
  --secondary-border-color: #eeeeee;
  --primary-icon-color: #afb1b8;
}

body {
  font-family: Roboto, Tahoma, sans-serif;
  color: var(--title-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  font-family: Raleway, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* ---------------------HEADER--------------------- */
.header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid var(--primary-border-color);
}

.header .container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  display: block;
  margin-right: 93px;
  color: var(--primary-black-color);
}

.accent {
  color: var(--accent-color);
}

.header-list {
  display: flex;
}

.header-item {
  position: relative;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-link.current {
  color: var(--accent-color);
}

.header-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  transform: translateY(1px);
}

.contacts {
  margin-left: auto;
}

.header-item-contacts + .header-item-contacts {
  margin-left: 30px;
}

.header-contacts {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* ---------------------HERO--------------------- */
.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  background-color: var(--dark-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-bg-image.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero-btn {
  display: block;
  min-width: 200px;
  margin: 0 auto;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--btn-background-color);
}

/* ---------------------BENEFITS--------------------- */

.benefits-list {
  display: flex;
}

.benefits-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-icon {
  padding: 25px 100px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--secondary-background-color);
}
.benefits-item-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits-item-text {
  min-width: 270px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

/* ---------------------WORKING--------------------- */

.working {
  padding-top: 0;
}

.working .title {
  margin-bottom: 50px;
}

.working-list {
  display: flex;
}

.working-item {
  position: relative;
}

.working-item:not(:last-child) {
  margin-right: 30px;
}

.working-img-title-wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.working-img-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-white-color);
}

/* ---------------------TEAM--------------------- */
.team {
  background-color: var(--secondary-background-color);
}

.team .title {
  margin-bottom: 50px;
}
.team-list {
  display: flex;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-content {
  padding: 30px 32px;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}

.team-item-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-item-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
}

.icon-list {
  display: flex;
  align-items: center;
}

.icon-item:not(:last-child) {
  margin-right: 10px;
}

.icon-link {
  display: block;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--primary-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* ---------------------CLIENTS--------------------- */

.clients .title {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  align-items: center;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: block;
  padding: 16px 32px;
  width: 170px;
  height: 92px;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  fill: var(--primary-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* ---------------------FOOTER--------------------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-background-color);
}

.footer-wrap {
  display: flex;
}

.footer-address-wrap {
  width: 231px;
  margin-right: 70px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.footer-address {
  font-style: normal;
  line-height: 1.71;
}

.footer-link {
  color: var(--primary-white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-icon-wrap {
  padding-top: 12px;
}

.footer-icon-title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-icon-link {
  display: block;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: var(--accent-color);
}

/* ---------------------PORTFOLIO--------------------- */

.portfolio-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  display: block;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-card-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-card-item {
  flex-basis: calc((100% - 60px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-card-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-card-item:hover .portfolio-card-top-text {
  transform: translateY(0%);
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-card-top-text {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-card-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-card-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.portfolio-card-content {
  padding: 20px 24px;
  border-bottom: 1px solid var(--secondary-border-color);
  border-left: 1px solid var(--secondary-border-color);
  border-right: 1px solid var(--secondary-border-color);
  background-color: var(--primary-white-color);
}
